/* For Destops 850 <= 1025px screen width */

@media screen and (max-width: 64rem ) {
    /* 1025px / 16px =  64rem*/
    /* 64rem x 16px = 1024px  */

    html {
        /* 9px / 16px = 0.5625px  */
        font-size: 56.25%;
    }

    .feature {
        height: 12rem;
    }
}


/* For <= 850px screen width  */

@media screen and (max-width: 53rem ) {
    /* 850px / 16px = 53rem */

    html {
        /* 9px / 16px = 0.5625px  */
        font-size: 56.25%;
    }

    .feature-grid {
        grid-template-columns: 1fr 1fr;
        width: 90%;
        gap: 4rem;
    }

    .feature {
       max-width: 40rem; 
    }

}


/* For <= 672px screen width */

@media screen and (max-width: 42rem ) {
    /* 672px / 16px =  42rem */
    /* 42rem x 16px = 672 */

    html {
        /* 8px / 16px = 0.5px */
        font-size: 50%;
    }  

    .header {
        display: none;  
    }

    .header-section {
        position: relative;
        height: 0;
        overflow: visible;
       
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: absolute;
        top: 2rem;
        right: 0;
        gap: 3rem;
        border: 1px solid rgb(94, 7, 175);
        border-radius: 10px;
        letter-spacing: 0.0625;
        background: transparent;
        backdrop-filter: blur(4px);
        box-shadow: 
            0 0 10px rgba(46, 57, 119, 0.6),  
            inset 0 20px 30px rgba(74, 66, 182, 0.1);
        color: white;
        padding: 2rem;
        z-index: 1;

    }


    .mobile-nav-text {
        font-size: 2rem;
        font-family: 'Roboto', 'Helvetica Neue', sans-serif;
        margin-left: 2rem;

    }

    .nav-mobile-hide {
        display: none;
    }

    .menu-alone {
        display: block;
        margin-top: 2rem;
        font-size: 3rem;
    }

    .feature-wrap {
        margin: 0 auto;
    
    }

    .feature-grid {
        grid-template-columns: 1fr;
        width: 90%;
        gap: 3rem;
        font-size: 2rem;
        justify-items: center;
    }

    .footer-ccs {
        flex-direction: column;
    }
}